* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  text-align: center;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADINGS */
.header--main {
  font-size: 50px;
  font-weight: normal;
  color: white;
  padding: 50px;
}

.header--secondary {
  font-weight: 300;
  font-size: 42px;
  color: white;
  padding: 30px;
}

.header--sub-header {
  font-size: 21px;
  color: gray;
}

video {
  padding-top: 20px;
}

p img {
  padding: 10px;
}

/* LINKS */
/*cta is short for 'call to action' */

.link--cta {
  font-size: 16px;
  color: aquamarine;
}

/* FOOTER */

.footer--copyright {
  text-align: right;
  color: gray;
  font-size: 21px;
  padding: 10px;
}
